h1 {
  color: mediumspringgreen;
}

h2 {
  color: cornflowerblue;
}

h3 {
  color: khaki;
}

body {
  background-color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  color: white;
}

code {
  font-size: 0.8rem !important;
}

canvas {
  margin-bottom: 0;
}

nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 2em;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 1em;
  text-decoration: none;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1.2rem;
}

a {
  color: darkgray;
}

a:visited {
  color: cornflowerblue;
}

#content {
  padding: 1em;
}

#inProgressBanner {
  margin: 0;
  padding: 1em;
}

/* stack on small screens */
@media only screen and (max-width: 750px) {
  .example {
    flex-wrap: wrap-reverse;
  }

  canvas {
    min-width: fit-content;
  }
}
