html {
  min-width: fit-content;
}

body {
  background-color: black;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
}

code {
  font-size: 0.8rem !important;
}

canvas {
  margin-bottom: 0;
}

nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 2em;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 1em;
  text-decoration: none;
  flex-grow: 0;
}

#content {
  padding: 1em;
}

#inProgressBanner {
  margin: 0;
  padding: 1em;
}

.example {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

/* stack on small screens */
@media only screen and (max-width: 750px) {
  .example {
    flex-wrap: wrap-reverse;
  }

  canvas {
    min-width: fit-content;
  }
}
